<article class="lyrics">
  <footer>
    <ng-include src="'views/miniplayer.html'"></ng-include>
    Text &amp; Musik: Diercks
  </footer>
	<p>
		<span class="initial">I</span>ch war dir immer ein Freund<br />
		Auch in dunkler Zeit<br />
		Wir haben zusammen geträumt<br />
		Doch nun geht's zu weit<br />
		Ich war dein Stecken, dein Stab<br />
		Unser Mondeslicht<br />
		Doch in mir wächst eine Saat<br />
		Die nun aus mir Bricht<br />
    <br />
		Und ich kann hier nicht mehr warten<br />
		Denn mich verfolgt das Grauen<br />
		Ich hab mich selbst verraten<br />
		An einen bösen Traum
	</p>
	<p>
		<span class="initial">U</span>nd Tag für Tag<br />
		Wird sie schwehrer, meine Last<br />
		Die Klinge, die ich heute führ'<br />
		Ist ganz in Glut gefasst
	</p>
	<p>
		<span class="initial">A</span>lles brennt<br />
		Alles steht in Flammen<br />
		Alles brennt, und ich will nicht weg von hier<br />
		Bis alles brennt<br />
		In der Welt aus der wir stammen<br />
		Ist nichts wie man es kennt<br />
		Seitdem ich dich verlier<br />
		Und alles brennt
	</p>
	<p>
		<span class="initial">I</span>ch hab stehts zu dir aufgesehen<br />
		Hab mich angepasst<br />
		Und nie ist etwas geschehen<br />
		Ich hab die nacht gehasst<br />
		Hab dich und deine Moral<br />
		In mir eingefang'<br />
		Doch dadurch wuchs meine Qual<br />
		Und mein Rachegang<br />
    <br />
		Ich hab mich selbst verraten<br />
		Zu viel ist schon geschehen<br />
		Ich kann hier nicht mehr warten<br />
		Ich hab den Tod gesehen
	</p>
	<p>
		<span class="initial">U</span>nd Tag für Tag<br />
		Entfacht mein Feuer aus der Wut<br />
		Die Sehnsucht die ich in mir spür<br />
		Ist ganz gemacht aus Rauch und Glut
	</p>
	<p>
		<span class="initial">D</span>enn wo kein Regen mehr fällt<br />
		Wach ich auf in einer Welt<br />
		Die gezeichnet durch mich<br />
		Jede Schöhnheit zersticht<br />
		Wo jede Blume verwelkt<br />
		Und das Feuer jeden Baum gefällt<br />
		Dort leb ich einsam vebannt<br />
		Verbrannt durch meine eigene Hand
	</p>
</article>
<img src="images/dave.png" width="50%">
