<div class="trackview">
	<article class="lyrics">
		<p>
			<span class="initial">E</span>in' Weg zu vergeben<br />
			Bin ich überflogen<br />
			Um zu seh'n, was der Wind mir wohl sagt<br />
			Gewaschen im Regen<br />
			Verblüht wie die Rosen<br />
			Um zu hör'n was mein Kind mich wohl fragt
		</p>
		<p>
			<span class="initial">G</span>efallen in Weisheit<br />
			Hab ich's mir erträumt<br />
			In dieser Eiszeit
		</p>
		<p>
			<span class="initial">H</span>ilf mir, mein Freund<br />
			Hilf mir zu schrein<br />
			Hilf mir zu seh'n und zu wein'<br />
			Hilf mir, mein Freund<br />
			Hilf mir zu teil'n<br />
			Hilf mir zu steh'n und zu heil'n<br />
			Hilf mir zu sein<br />
			Und den Schmerz mit mei'm Schicksahl zu ein'
		</p>
		<p>
			<span class="initial">I</span>ch hab mir selbst aufgegeben<br />
			Das leid zu erstreben<br />
			Um zu fühl'n welche Schmerzen dort woh'n<br />
			Die Lügen zu leben<br />
			Ich hör' sie noch reden<br />
			Und die Toten mit Ehre beloh'n
		</p>
		<p>
			<span class="initial">E</span>in' Weg zu begreifen<br />
			Hab ich wohl versäumt<br />
			Verloren stehen die Weichen
		</p>
		<p>
			<span class="initial">H</span>ilf mir, mein Freund<br />
			Hilf mir zu schrein<br />
			Hilf mir zu seh'n und zu wein'<br />
			Hilf mir, mein Freund<br />
			Hilf mir zu teil'n<br />
			Hilf mir zu steh'n und zu heil'n<br />
			Hilf mir den Rücken zu kehr'n<br />
			Und den Himmel zu seh'n<br />
			Und zu beten für alle die leben<br />
			Und die Hoffnung zuletzt zu verlier'n<br />
			Und die Hoffnung zuletzt aufzugeben
		</p>
	</article>
	<img src="images/tim.jpg" width="50%">
	<br class="clear" />
	<footer>
		Text &amp; Musik: Diercks
	</footer>
</div>