<div class="track" ng-class="{open: isOpen}">
	<header>
		<h3
			ng-click="open()"
			class="majorlink icon-"
		><span class="title">{{track.name}}</span></h3>
	</header>
	<div ng-if="isOpen">
		<div class="progress_wrap" ng-click="seek($event)" tabindex="-1">
			<div ng-if="playing()">
				<div class="overlay">
					<div class="progress_bar buffered" ng-style="{width: loaded()}"></div>
				</div>
				<div class="overlay">
					<div class="progress_bar played" ng-style="{width: played()}"></div>
				</div>
			</div>
		</div>
    <div class="trackview">
		  <ng-include src="track.view"></ng-include>
      <br class="clear" />
    </div>
	</div>
</div>
