<article class="lyrics">
  <footer>
    <ng-include src="'views/miniplayer.html'"></ng-include>
    Text &amp; Musik: Diercks
  </footer>
	<p>
		<span class="initial">B</span>in seit Tagen schon<br />
		Blind gewandert und<br />
		Kann die Sterne kaum seh'n<br />
		All die Fragen dort<br />
		Sind so anders dort<br />
		Wo die Träume verblüh'n
	</p>
	<p>
		<span class="initial">Z</span>eig mir die Welt<br />
		Ihre Berge und See'n<br />
		Zeig mir die Welt<br />
		Zeig mir ihr schönstes Gesicht<br />
		Zeig mir die Welt<br />
		Die alles gibt, was sie verspricht<br />
		Und ich will mit dir leben<br />
		Solang sie noch hält
	</p>
	<p>
		<span class="initial">Z</span>eig mir dein' Gott und<br />
		Zeig deine Seele<br />
		Zeig dein' Weg, lass mich ein<br />
		Zeig deine Worte und<br />
		Zeig deine Kehle<br />
		Zeig dein Flüstern, dein Schrei'n
	</p>
	<p>
		<span class="initial">Z</span>eig mir dein' Kopfsprung und<br />
		Zeig deine Eiszeit<br />
		Zeig dein Jammern, dein Grau'n<br />
		Zeig deine Hoffnung und<br />
		Zeig deine Freiheit<br />
		Oh zeig mir all dein Vertrau'n
	</p>
	<p>
		<span class="initial">Z</span>eig mir die Welt<br />
		Ihre Stürme und Beben<br />
		Zeig mir die Welt<br />
		Zeig mir ihr dunkles Gesicht<br />
		Zeig mir die Welt<br />
		Die alles gibt, was sie verspricht<br />
		Und ich will mit dir leben<br />
		Solang sie noch hält
	</p>
	<p>
		<span class="initial">Z</span>eig mir die Welt<br />
		Ihre Mauern und Türme<br />
		Zeig mir die Welt<br />
		Zeig mir ihr Land und ihr Licht<br />
		Zeig mir die Welt<br />
		Die trotz ihrer dunklen Geschicht'<br />
		Und trotz all ihrer Stürme<br />
		Nicht in sich zerfällt
	</p>
</article>
<img src="images/chrannes1.5.png" width="50%">
