<div> <span class="iconwrap"> <button class="icon-backward majorlink icon" ng-click="ep.prev()"></button> <button class="icon-forward majorlink icon" ng-click="ep.next()"></button> </span> <button class="playpause majorlink" ng-class="{
      'icon-play': ep.paused(),
      'icon-pause': !ep.paused()
    }" ng-click="ep.playPause()" title="play"><span class="label">{{!ep.paused() ? 'Pause' : 'Play&nbsp;'}}</span></button> <button class="majorlink download icon-arrow-down" ng-click="$parent.download=!$parent.download"><span class="label">Download</span></button> <div></div></div>