<h2>Download</h2>

<p>
Wir haben eine beachtliche Menge Schweiß, Herzblut und vor allem auch Geld investiert um diese EP zu Produzieren. Es wäre darum grandios, wenn ihr uns ein paar Münzen in den Hut werft, wenn euch die Titel gefallen. Dafür schon mal ein riesiges Dankeschön!
</p>

<p>
Wenn ihr gerade nicht flüssig seid, hilft es mindestens genau so sehr, wenn ihr einfach Freunden davon erzählt, in Sozialen Medien darüber schreibt oder bei einem Bier darauf anstoßt. Auch dafür tausend Dank!
</p>
