<h1>Download</h1>
<h2>Sehr geile Entscheidung!</h2>
<h3>Wir freuen uns riesig, dass du unsere Musik mitnehmen willst</h3>

<p>
Wir haben eine beachtliche Menge Schweiß, Herzblut und vor allem auch Geld investiert um diese EP zu Produzieren. Es wäre darum grandios, wenn du uns eine Münze in den Hut wirfst, wenn dir die Titel gefallen.
</p>

<p>
Wenn du gerade nicht flüssig bist, hilft es mindestens genau so sehr, wenn du einfach Freunden davon erzählst, in Sozialen Medien darüber schreibst oder bei einem Bier darauf anstoßt.
</p>

<h2><a href="">Bandcamp</a></h2>
<p>Auf Bandcamp kannst du die die Titel in bester Qualität runterladen und dabei aussuchen wie viel du uns dafür geben magst.</p>

<h2><a href="">Patreon</a></h2>
<p>Wenn du mehr hören willst und dabei regelmäßig einen kleinen Betrag in den Topf schmeißen willst, werde ein Patreon von Diem.</p>

<h2>Shut Up</h2>
<p>Gib hier deine E-Mail Adresse ein und du bekommst die EP sofort per Mail.</p>
<input type="email">

<h2>And take my money</h2>
<p>Hier kannst du uns per PayPal so viel Geld schicken wie du gerade bock hast.</p>

<h3>Du bist der Beste, Danke und bis bald!</h3>
