<div class="download-inner" id="download">
  <div class="download-column">
    <h1>Download</h1>
    <h2>Jetzt auf quasi jeder Musikplattform</h2>
    <p>Zum Beispiel:</p>
    <a class="download-link" href="https://play.google.com/store/music/album/Diem_Kaleidos_Chaos_Unbeschrieben?id=Bwqkgckiyfx7wyo5hh6dtoictpq"><img src="http://res.cloudinary.com/xiphe/image/upload/c_scale,q_100,w_200/v1454534453/google-play-badge_ctody2.png" alt="Google Play"></a>
    <a class="download-link" href="https://www.amazon.de/Unbeschrieben-Diem-Kaleidos-Chaos/dp/B01AKN0NHG/"><img src="http://res.cloudinary.com/xiphe/image/upload/c_scale,w_200,r_11/v1454534859/amazon-underground-app-de-black_itmyir.png" alt="Amazon"></a>
    <a class="download-link" href="https://itunes.apple.com/de/album/unbeschrieben-ep/id1074281622"><img src="http://res.cloudinary.com/xiphe/image/upload/c_scale,q_100,r_8,w_200/v1454534515/Get_it_on_iTunes_Badge_DE_1114_hqmpir.png" alt="iTunes"></a>
    <a class="download-link" href="https://open.spotify.com/album/3yqCGP8cb552TTjbvFcR7X"><img src="http://res.cloudinary.com/xiphe/image/upload/c_scale,q_100,w_200/v1454534486/Spotify_Logo_RGB_Green_ebbqmi.png" alt="Spotify"></a>

  </div>
  <div class="download-column">
    <h2>Shut Up</h2>
    <p>Gib hier deine E-Mail Adresse ein und du bekommst die EP sofort per Mail.</p>
    <emailbutton></emailbutton>

    <h2>And take my money</h2>
    <p>Hier kannst du uns per PayPal so viel Geld schicken wie du gerade bock hast.</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" >
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="7VLEXLKK6ZTJC">
      <input type="image" class="paypal" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
    </form>


    <h3>Du bist wunderbar! Danke und bis bald!</h3>
  </div>
  <br style="clear: both;">
</div>
