<footer class="main">
	<p>&copy; 2014 - <strong>Hannes Diercks</strong></p>
	<p>Produziert 2012 - 2014 von <strong>Diem</strong> und <strong>Kaleidos Chaos</strong></p>
	<p>Aufgenommen und Produziert von <strong>Alex Henke</strong>, <strong>Monochom Media</strong></p>
	<p>Gemastert von <strong>Olman Viper</strong>, <strong>HERTZWERK</strong></p>
	<p>Fotos von <strong>Meike Rotling</strong> und <strong>Federkiel Fotografie</strong></p>
	<p>
		Gitarren: <strong>André von Malotki</strong><br />
		Gesang, Percussion: <strong>Christina D&uuml;wel</strong><br />
		Schlagzeug: <strong>David Schwetmann</strong><br />
		Gesang, Klavier, Orgel: <strong>Hannes Diercks</strong><br />
		Violine: <strong>Johanna Lissowsky </strong><br />
		Bass: <strong>Tim Neils</strong>
	</p>
	<p>
	Besonderer Dank gilt:<br />
	<strong>Kathrin D&uuml;wel</strong>, <strong>(Aufnamehelferlein)</strong>
	und nat&uuml;rlich unseren Freunden Familien und allen die das hier lesen &gt;3
	</p>
</footer>