<div id="main">
  <div ng-if="validPw()">
    <header>
      <div class="cover_img-wrap">
        <img image-onload="applySticky()" class="cover_img" tabindex="-1" ng-click="playIfPause()" ng-src="http://res.cloudinary.com/xiphe/image/upload/w_{{getCoverWidth()}},q_80/cover_p20ckk.jpg"/>
      </div>

      <div class="cta"><div id="become-sticky"></div></div>
    </header>

    <div ng-if="download" class="download-dialog">
      <ng-include src="'views/download.html'"></ng-include>
    </div>
    <videogular class="videogular-container audio">
      <vg-media vg-src="player.sources" vg-type="audio"></vg-media>
    </videogular>
    <track ng-repeat="track in ep.playlist" data="track" player="things.player"></track>

    <div class="footer">
      <ng-include src="'views/footer.html'"></ng-include>
    </div>
  </div>
  <div ng-if="!validPw()">
    <input ng-model="pw.text" id="password_entry">
  </div>
</div>
